<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    @await Component.InvokeAsync("NavbarViewComponent")
    <div class="p-3 container">
        @RenderBody()
    </div>
</body>
</html>