<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a href="/" class="navbar-brand"></a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="/course" class="nav-link active">Course</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Products" asp-action="Index" class="nav-link active">Products</a>
            </li>
        </ul>
    </div>
</nav>